@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --fondo: #eaeaea;
  --DMGsecundary: #1a0a00;
}

body {
  color: var(--foreground);
  background: var(--fondo);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}